<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />

    <title>{% block title %}FairPay{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    {% block stylesheets %}
        <!-- Bootstrap -->
        <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/paper/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    {% endblock %}

    <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
    {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}

</head>

<body data-get-student-api="{{ path('api_get_student', {query:"-query-"}) }}">

{% block navbar %}{% endblock %}

<div class="container">
    {% include 'BraincraftedBootstrapBundle::flash.html.twig' with { 'close': true } %}
    {% block body %}{% endblock %}
</div>

{% block javascripts %}
    <script src="{{ asset('bootstrap/js/jquery.js') }}"></script>
    <script src="{{ asset('js/lib/jquery.loadTemplate-1.4.4.min.js') }}"></script>
    <script src="{{ asset('bootstrap/js/bootstrap.js') }}"></script>
    <script src="{{ asset('js/form/money.js') }}"></script>
    <script src="{{ asset('js/form/student.js') }}"></script>
    {% if piwik_enabled %}
        <!-- Piwik -->
        <script type="text/javascript">
          var _paq = _paq || [];
          _paq.push(['trackPageView']);
          _paq.push(['enableLinkTracking']);
          (function() {
            var u="//{{ piwik_url }}/";
            _paq.push(['setTrackerUrl', u+'piwik.php']);
            _paq.push(['setSiteId', {{ piwik_site_id }}]);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
            g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
          })();
        </script>
        <noscript><p><img src="//{{ piwik_url }}/piwik.php?idsite={{ piwik_site_id }}" style="border:0;" alt="" /></p></noscript>
        <!-- End Piwik Code -->
    {% endif %}
{% endblock %}

</body>
</html>
